# DIRECTORIES
node_modules
test/
src/
notes/
gulp/
.github/
changelogs/
_deprecated/
_notes/

# PACKAGE FILES
*.lock
.gitignore
TODO.md
CHANGELOG.md


# BUILD TOOLS
tsconfig.json
.babelrc
rollup.config.js
